@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300&display=swap");

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Newsreader", serif;
}

#date {
  text-align: right;
  width: 80%;
  margin: 16px auto;
}

p,
li {
  /* font-size: 16px; */
  line-height: 1.2;
  letter-spacing: 1px;
}

#titlebackground {
  width: 100%;
  height: 200px;
  background-image: url("images/coronbay.jpg");
  background-position-y: 20%;
  background-size: cover;
  text-align: center;
  border-bottom: 5px solid navy;
  border-top: 5px solid navy;
}

h1 {
  position: relative;
  font-size: 60px;
  margin: 0;
  padding: 20px;
  color: antiquewhite;
  width: fit-content;
  text-decoration: underline;
}

/* Centers h1 inside title */
#titlebackground {
  display: flex;
  justify-content: center;
  align-items: center;
}

#maincontent {
position: relative; 
left: 50%;
transform: translateX(-50%);
width: 80%
}

h2 {
  margin: 10px;
  /* padding: 10px 0 0 0; */
}

body {
  margin: 0 auto; /*When you set two values on a property like margin or padding, the first value affects the element's top and bottom side (setting it to 0 in this case); the second value affects the left and right side. (Here, auto is a special value that divides the available horizontal space evenly between left and right)*/
  /* background-color: #ECBB95; */
  background-color: #8cbfb8;
  /* background-color: #39615b; */
  text-align: justify;
  text-justify: inter-word;
  color: #08192C;
  /* color: white; */
}

figure {
  margin: 0;
}

.salutefigure {
  float: right;
  padding: 6px 0 0 20px;
  width: 25%;
}

.saluteimage {
  width: 100%;
  margin: 0;
}

.salutecaption {
  padding: 10px 0 0 0px;
}

.akitsushimaimage {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.smlinks {
  margin: 20px 0 0 0;
}

.sml {
  line-height: 0;
  margin: 10px 0;
}

.social-media-logos {
  height: 40px;
  width: 40px;
  padding: 5px;
}
/*sets images with "social-media-logos" class to a set gheight width and padding */

.social-media-logos:hover {
  -webkit-filter: opacity(50%);
}

/* To centre image need to turn off float and set side margins to auto */
@media (max-width: 600px) {
  .salutefigure {
    float: none; 
    margin: 0 auto; 
    padding: 0;
    width: 80%;
}
}